<div class="navbar">
  <ul class="navbar-items">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Novo Pedido", new_pedido_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Logout",  destroy_user_session_path, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
  <h1 id="titulo">DEVISE INFORMÁTICA</h1>
</div>
